body {
	background-color: #91a66f;
}

h1 {
	text-align: center;
	font-family: sans-serif;
	color: white;
}

figcaption {
	padding: 20px 0;
}

img {
	display: block;
	max-width: 100%;
}

main {
	max-width: 100vw;
}

main div {
	display: flex;
	justify-content: space-around;
}

main div figure {
	max-width: 48%;
}