body {
    color: #222;
    font-family: 'Roboto Condensed', sans-serif;
}

/*
    Design Principles (CRAP)

        C: Contrast 
        R: Repetition
        A: Alignment
        P: Proximity
*/

header {
    background-color: #222;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}

h1 {
    padding: 2rem 0;
}

main {
    font-size: 1.5rem;
}

/* FORM STYLES */
label {
    display: block;
}

form div,
fieldset {
    margin-bottom: 3rem;
}