body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #222;
    color: white;
}

h1 {
    padding: 1rem;
    text-align: center;
}

h2 {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
}

p {
    margin-bottom: 1.5rem;
}

.horizontal-content {
    height: 250px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    /* Not every browser supports this property. Therefore, it's best practice to create a redundancy or alternative with vendor prefixes or the @supports rule. 
    scrollbar-width: none;*/
}

.horizontal-content > div {
    background-color: #3f1917;
    flex: 0 0 330px;
    height: 180px;
    margin: 1rem 0.5rem;
    border-radius: 0.2rem;
    transition: all 400ms ease-in;
}

.horizontal-content > div:hover,
.horizontal-content > div:active {
    background-color: #7b2e2a;
    flex: 0 0 350px;
    height: 210px;
}

.parallax-image {
    background-image: url('../img/movie.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /* This property creates the parallax scroll effect. */
    background-attachment: fixed;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filler-text {
    padding: 4rem 0;
    max-width: 60ch;
    margin: auto;
}